@font-face {
  font-family: "brandon";
  src: url("fonts/Brandon_reg.otf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  /**COLORS**/
  --green: #657b5a;
  --orange: #e75b36;
  --light: #fffdfd;
  --dark: #040b01;

  /**FONTS**/
  --main_font: "brandon", sans-serif;

  /**FONT SIZES**/
  --font-size-sm: clamp(0.69rem, 0.11vw + 0.66rem, 0.75rem);
  --font-size-base: clamp(0.81rem, 0.34vw + 0.73rem, 1rem); 
  --font-size-m: --font-size-base: clamp(1rem, 0.57vw + 0.86rem, 1.31rem);
  --font-size-lg: clamp(1.19rem, 1.02vw + 0.93rem, 1.75rem);
  --font-size-xl: clamp(1.44rem, 1.59vw + 1.04rem, 2.31rem);
  --font-size-xxl: clamp(1.69rem, 2.61vw + 1.03rem, 3.13rem);
  --font-size-xxxl: clamp(2.06rem, 3.86vw + 1.1rem, 4.19rem);

  /* Spacing */
  --spacing-10: 0.625rem;
  --spacing-15: 0.9375rem;
  --spacing-20: 1.25rem;
  --spacing-30: 1.875rem;
  --spacing-40: 2.5rem;
  --spacing-50: 3rem;
  --spacing-60: 3.8rem;
  --spacing-70: 4.3rem;
  --spacing-80: 5rem;
  --spacing-90: 7.5rem;
  --spacing-100: 10rem;

  --spacing-xxxl: 25rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1200px) 1fr;
  overflow: hidden;
}

main > section {
  grid-column: 2/3;
}

h1,
h2,
h3,
h4,
p,
a {
  font-family: var(--main_font);
}

.btn {
  border-radius: 5px;
  padding: var(--spacing-10) var(--spacing-40);
  max-width: 300px;
  border: none;
  font-size: var(--font-size-base);
  transition: all 0.2s;
  background-color: var(--green);
  color: var(--light);
}

h1,
.h1 {
  font-size: var(--font-size-xxxl);
}

h2,
.h2 {
  font-size: var(--font-size-xxl);
}

h3,
.h3 {
  font-size: var(--font-size-xl);
}

h4,
.h4 {
  font-size: var(--font-size-lg);
}

p,
.p {
  font-size: var(--font-size-base);
}

.pl {
  font-size: var(--font-size-m);
}

.ps {
  font-size: var(--font-size-sm);
}

main {
  display: block;
}

