@font-face {
  font-family: "brandon";
  src: url("fonts/Brandon_reg.otf") format("woff2");
  font-weight: 900;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

:root {
  /**COLORS**/
  --green: #657b5a;
  --orange: #e75b36;
  --light: #fffdfd;
  --dark: #040b01;
  --hover-green: #405634;

  /**FONTS**/
  --main_font: "brandon", sans-serif;

  /**FONT SIZES**/
  --font-size-sm: clamp(0.69rem, 0.11vw + 0.66rem, 0.75rem);
  --font-size-base: clamp(0.81rem, 0.34vw + 0.73rem, 1rem);
  --font-size-m: clamp(1rem, 0.57vw + 0.86rem, 1.31rem);
  --font-size-lg: clamp(1.19rem, 1.02vw + 0.93rem, 1.75rem);
  --font-size-xl: clamp(1.44rem, 1.59vw + 1.04rem, 2.31rem);
  --font-size-xxl: clamp(1.69rem, 2.61vw + 1.03rem, 3.13rem);
  --font-size-xxxl: clamp(2.06rem, 3.86vw + 1.1rem, 4.19rem);

  /* Spacing */
  --spacing-01: 0.3rem;
  --spacing-10: 0.625rem;
  --spacing-15: 0.9375rem;
  --spacing-20: 1.25rem;
  --spacing-30: 1.875rem;
  --spacing-40: 2.5rem;
  --spacing-50: 3rem;
  --spacing-60: 3.8rem;
  --spacing-70: 4.3rem;
  --spacing-80: 5rem;
  --spacing-90: 7.5rem;
  --spacing-100: 10rem;
  --spacing-xxl: 15rem;
  --spacing-xxxl: 17rem;
}

/***BASE STYLES*****/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

main {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p,
a {
  font-family: var(--main_font);
  color: var(--dark);
}

.orange {
  color: var(--orange);
}

.green {
  color: var(--green);
}

.light {
  color: var(--light);
}

.dark {
  color: var(--dark);
}

.btn {
  border-radius: 5px;
  padding: var(--spacing-15) var(--spacing-30);
  border: none;
  font-size: var(--font-size-sm);
  transition: all 0.2s;
  background-color: var(--green);
  color: var(--light);
  text-transform: uppercase;
  cursor: pointer;
  max-width: 300px;
}

.btn:hover {
  background-color: var(--hover-green);
}

a:hover {
  text-decoration: underline;
}

h1,
.h1 {
  font-size: var(--font-size-xxxl);
}

h2,
.h2 {
  font-size: var(--font-size-xxl);
}

h3,
.h3 {
  font-size: var(--font-size-xl);
}

h4,
.h4 {
  font-size: var(--font-size-lg);
}

p,
.p {
  font-size: var(--font-size-base);
}

.pl {
  font-size: var(--font-size-m);
}

.ps {
  font-size: var(--font-size-sm);
}

a {
  text-decoration: none;
  color: var(--dark);
  text-transform: uppercase;
  cursor: pointer;
}

li {
  list-style: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

/******NAVIGATION - HEADER********/

header {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: auto;
  position: sticky;
  top: 0;
  z-index: 100;
  justify-content: space-between;
  scroll-behavior: smooth;
  padding: 0rem 1rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

nav li {
  margin: var(--spacing-15);
}

nav li a:hover {
  color: var(--green);
}

nav li .btn:hover {
  color: var(--light);
  text-decoration: none;
  background-color: var(--hover-green);
}

.logo {
  margin-top: var(--spacing-30);
}

.header_dark {
  background-color: var(--dark);
}

.header_light {
  background-color: var(--light);
}

.header_dark .btn,
.header_light .btn {
  margin-top: -1rem;
}

.navigation_dark a {
  color: var(--light);
}

.navigation_light a {
  color: var(--dark);
}

.navigation_light .btn {
  color: var(--light);
}

/* Dropdown Button */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--dark);
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: var(--light);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  text-decoration: underline;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  text-decoration: underline;
}

/*BURGER MENU*/
.burger {
  cursor: pointer;
  width: 30px;
  height: 35px;
  position: relative;
  background: none;
  border: none;
  z-index: 10;
  transition: all 0.1s;
  display: none;

  margin-top: 2rem;
}

.burger-top,
.burger-middle,
.burger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 2px;
  background-color: var(--light);
  transform: rotate(0);
  transition: all 0.5s;
}

.burger-top-dark,
.burger-middle-dark,
.burger-bottom-dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 2px;
  background-color: var(--dark);
  transform: rotate(0);
  transition: all 0.5s;
}

.burger-middle,
.burger-middle-dark {
  transform: translateY(7px);
}

.burger-bottom,
.burger-bottom-dark {
  transform: translateY(14px);
}

.open .burger-top,
.open .burger-top-dark {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .burger-middle,
.open .burger-middle-dark {
  display: none;
}

.open .burger-bottom,
.open .burger-bottom-dark {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

@media screen and (max-width: 900px) {
  .burger {
    display: block;
  }

  .navigation {
    justify-content: space-between;
  }

  .navigation ul {
    display: none;
  }
}

@media (min-width: 750px) {
  .navigation li {
    padding: var(--spacing-10);
    padding-top: 1rem;
  }
}

/* MOBILE MENU */
.mobile-menu {
  position: fixed;
  right: 0;
  top: var(--spacing-70);
  width: 90%;
  height: 100%;
  padding: var(--spacing-20);
  transition: all 0.6s;
  z-index: 10;
  background-color: var(--light);
}

.mobile-menu li {
  list-style: none;
  text-decoration: none;
  padding: 1rem 0.5rem;
}

.mobile-menu .first {
  padding-top: 3rem;
}

.hide {
  visibility: hidden;
}

/* FOOTER */

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--dark);
  grid-gap: var(--spacing-50);
  padding: var(--spacing-20);
  place-content: center;
}

.flex_row {
  display: flex;
  flex-direction: row;
}

.width15 {
  width: 18%;
  height: 18%;
  margin-right: var(--spacing-15);
  margin-bottom: var(--spacing-10);
}

footer p {
  padding: var(--spacing-10);
}

.footer_box3 {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
}

.footer_box3 input {
  border-radius: 5px;
  border: none;
  padding-bottom: var(--spacing-15);
  padding-top: var(--spacing-15);
  padding-left: var(--spacing-15);
  padding-right: var(--spacing-50);
  margin-top: var(--spacing-30);
  margin-bottom: var(--spacing-20);
  margin-right: var(--spacing-20);
  box-shadow: 1px 1px 1px 2px rgba(20, 10, 10, 0.2);
  z-index: 1;
  width: 50%;
}

@media (min-width: 1000px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    background: var(--dark);
    padding-left: var(--spacing-100);
    padding-top: var(--spacing-50);
  }

  .flex_row {
    margin-top: var(--spacing-15);
    margin-bottom: var(--spacing-15);
  }

  .footer_box3 {
    grid-column: span 1;
  }
}

/****HERO SECTION***/

/****HERO MOBILE VIEW****/

#hero_section {
  display: flex;
  flex-direction: row;
  background-color: var(--dark);
  padding: var(--spacing-15);
}

.hero .middle {
  margin-top: var(--spacing-50);
  margin-bottom: var(--spacing-50);
}

.lines1 {
  display: flex;
  flex-direction: column;
  margin-left: -5rem;
  margin-top: var(--spacing-50);
  margin-bottom: var(--spacing-70);
}

.top {
  animation-name: topaniimation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes topaniimation {
  0% {
    transform: translateX(-5vw);
  }
  50% {
    transform: translateX(0vw);
  }
  95% {
    transform: translateX(-5vw);
  }
  100% {
    transform: translateX(-5vw);
  }
}

.middle {
  animation-name: middleaniimation;
  animation-duration: 21s;
  animation-iteration-count: infinite;
}

@keyframes middleaniimation {
  0% {
    transform: translateX(-5vw);
  }
  50% {
    transform: translateX(0vw);
  }
  90% {
    transform: translateX(-5vw);
  }
  100% {
    transform: translateX(-5vw);
  }
}

.bottom {
  animation-name: bottomanimation;
  animation-duration: 22s;
  animation-iteration-count: infinite;
}

@keyframes bottomanimation {
  0% {
    transform: translateX(-5vw);
  }
  50% {
    transform: translateX(0vw);
  }
  90% {
    transform: translateX(-5vw);
  }
  100% {
    transform: translateX(-5vw);
  }
}

.lines {
  display: flex;
  flex-direction: column;
  animation-name: totheleft;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  margin-top: var(--spacing-50);
}

@keyframes totheleft {
  0% {
    transform: translateX(-5vw);
  }
  50% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(-5vw);
  }
}

.headline {
  margin-top: var(--spacing-80);
  margin-bottom: var(--spacing-70);
  margin-right: var(--spacing-30);
  z-index: 1;
  margin-left: -14rem;
  float: right;
}

.headline h4 {
  margin-top: var(--spacing-10);
  margin-bottom: var(--spacing-60);
}

.readmore {
  color: var(--green);
  display: flex;
  justify-content: center;
  font-family: var(--main_font);
  font-size: var(--font-size-sm);
  margin-top: -7rem;
  margin-bottom: 10rem;
  transform: rotate(270deg);
}

/****HERO DESKTOP VIEW****/

@media (min-width: 700px) {
  .lines1 {
    margin-left: var(--spacing-50);
    margin-top: var(--spacing-50);
    margin-bottom: var(--spacing-70);
  }

  #hero_section {
    padding-top: var(--spacing-60);
    padding-bottom: var(--spacing-100);
  }
  .hero h1,
  .hero h4 {
    margin: var(--spacing-20);
    margin-left: -10rem;
  }

  #hero_section .btn {
    margin-top: var(--spacing-80);
    margin-left: 40rem;
  }

  .hero h4 {
    padding-left: var(--spacing-100);
  }

  #hero_section .headline {
    margin-left: var(--spacing-100);
  }

  .hide {
    visibility: visible;
  }

  .lines1 {
    margin-left: var(--spacing-50);
    margin-top: var(--spacing-50);
    margin-bottom: var(--spacing-70);
  }
}

/* section 2  */

#section2 {
  display: flex;
  margin-top: var(--spacing-xxl);
  margin-bottom: var(--spacing-60);
  margin-right: var(--spacing-10);
}

#section2 h3 {
  z-index: 1;
}

#section2 .lines_s2 {
  margin-right: var(--spacing-15);
  margin-left: -4rem;
  width: 100vw;
}

.margin {
  margin-bottom: var(--spacing-20);
}

/* section 2 desktop */
@media (min-width: 700px) {
  #section2 {
    margin-top: var(--spacing-xxxl);
    padding-top: var(--spacing-70);
    margin-left: var(--spacing-xxl);
    margin-right: var(--spacing-xxl);
    margin-bottom: var(--spacing-100);
  }

  #section2 .lines_s2 {
    width: 40vw;
    margin-top: -3rem;
  }
}

/* section 3 */

#section3 {
  margin-left: var(--spacing-20);
  margin-right: var(--spacing-20);
  margin-bottom: var(--spacing-100);
}

#section3 p {
  padding-top: var(--spacing-20);
  padding-bottom: var(--spacing-10);
}

@media (min-width: 700px) {
  #section3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: var(--spacing-90);
    margin-right: var(--spacing-90);
  }

  #section3 article {
    margin-top: var(--spacing-10);
    margin-right: var(--spacing-90);
  }
}

/*Section 4 */

#section4 {
  margin-left: var(--spacing-50);
  margin-right: var(--spacing-50);
}

.cases {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  margin-bottom: var(--spacing-30);
}

.cases a {
  display: flex;
  flex-direction: row;
}

.case_anne {
  background: url(img/case_anne.png);
  padding-top: var(--spacing-100);
  padding-left: var(--spacing-20);
  width: 100%;
  background-repeat: no-repeat;
  margin: var(--spacing-10);
  padding-left: var(--spacing-20);
}

.cases h4,
.cases p,
.cases a {
  color: var(--light);
  padding: var(--spacing-01);
}

.cases .background_img {
  padding-left: var(--spacing-01);
  padding-bottom: var(--spacing-10);
}

.case_mend {
  background: url(img/case_mend.png);
  padding-top: var(--spacing-100);
  width: 100%;
  background-repeat: no-repeat;
  margin: var(--spacing-10);
  padding-left: var(--spacing-20);
  margin-bottom: var(--spacing-10);
}

.case_artnordic {
  background: url(img/case_artnordic.png);
  padding-top: var(--spacing-100);
  width: 100%;
  background-repeat: no-repeat;
  margin: var(--spacing-10);
  padding-left: var(--spacing-20);
}

/* Section 5 */

#section5 {
  display: flex;
  flex-direction: column-reverse;
  margin-left: var(--spacing-20);
  margin-right: var(--spacing-20);
}

#section5 article {
  margin-top: var(--spacing-50);
  margin-bottom: var(--spacing-50);
}

@media (min-width: 700px) {
  #section5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--spacing-60);
    margin-top: var(--spacing-100);
  }
  #section5 article {
    margin-top: var(--spacing-70);
    margin-right: var(--spacing-90);
  }
  #section5 img {
    margin: var(--spacing-30);
  }
}

#section5 p {
  margin-top: var(--spacing-30);
  margin-bottom: var(--spacing-50);
}

/* section 6 */

#section6 h3 {
  display: flex;
  place-content: center;
  margin-top: var(--spacing-70);
}

.contribute_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: var(--spacing-01);
  margin: var(--spacing-10);
}

.contribute_item figure {
  max-height: 5vw;
  max-height: auto;
  padding: var(--spacing-10);
  margin-bottom: var(--spacing-50);
}

.contribute_item {
  padding: var(--spacing-20);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contribute_item h4 {
  font-size: var(--font-size-sm);
}

@media (min-width: 700px) {
  .contribute_container {
    grid-gap: var(--spacing-15);
    margin: var(--spacing-80);
  }

  .contribute_item figure {
    max-height: 10vw;
    padding: var(--spacing-20);
    margin-bottom: var(--spacing-70);
  }

  .contribute_item {
    padding: var(--spacing-30);
  }
  .contribute_item h4 {
    font-size: var(--font-size-m);
  }
  .section4_headline {
    margin: var(--spacing-30) 0;
  }
}

/* conntact us */

#conntactus {
  display: flex;

  margin: var(--spacing-30);
  margin-top: var(--spacing-50);
  margin-bottom: var(--spacing-50);
}

#conntactus h3,
#conntactus h4 {
  margin-top: var(--spacing-20);
  margin-bottom: var(--spacing-20);
}

#conntactus figure {
  width: 0%;
  animation-name: totheleft;
  animation-duration: 25s;
  animation-iteration-count: infinite;
}

.first_conntact {
  width: 82%;
}

.second_conntact {
  width: 40%;
}

#conntactus input,
.conntact_form input {
  border-radius: 5px;
  border: none;
  padding-bottom: var(--spacing-15);
  padding-top: var(--spacing-15);
  padding-left: var(--spacing-15);
  padding-right: var(--spacing-50);
  margin-top: var(--spacing-30);
  margin-bottom: var(--spacing-20);
  margin-right: var(--spacing-10);
  box-shadow: 1px 1px 1px 2px rgba(20, 10, 10, 0.2);
}

#conntactus button {
  margin-top: var(--spacing-15);
}

@media (min-width: 1200px) {
  #conntactus {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }

  #conntactus h3,
  #conntactus h4 {
    margin-right: var(--spacing-90);
  }

  #conntactus figure {
    margin-top: var(--spacing-90);
    width: 100%;
  }

  .forms {
    margin-right: var(--spacing-xxl);
  }

  #conntactus button {
    margin-top: var(--spacing-15);
  }
}

/*** ABOUT PAGE ****/

#about_hero {
  display: flex;
  flex-direction: row;
}

.about_headline {
  margin-top: var(--spacing-70);
}

#about_section2 {
  margin: var(--spacing-50);
}

#about_section2 p {
  margin-top: var(--spacing-50);
  margin-bottom: var(--spacing-50);
}

.approach {
  margin-right: -2rem;
}

#about_section3 {
  display: flex;
  justify-content: center;
  margin: var(--spacing-50);
}

#about_section4 {
  margin: var(--spacing-30);
}
#about_section4 p {
  margin-top: var(--spacing-30);
  margin-bottom: var(--spacing-30);
}

/*employees*/

.team_heading {
  display: flex;
  place-content: center;
  margin-bottom: var(--spacing-70);
  margin-left: var(--spacing-30);
  margin-right: var(--spacing-30);
}

#about_section5 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: var(--spacing-10);
  margin-left: var(--spacing-20);
  margin-right: var(--spacing-10);
}

.employee {
  position: relative;
}

.name {
  position: absolute;
  margin-top: var(--spacing-80);
  padding-top: var(--spacing-80);
  margin-left: var(--spacing-10);
}

.minus_margin {
  margin-top: -5rem;
  margin-bottom: 5rem;
  margin-left: var(--spacing-20);
}

@media (min-width: 700px) {
  #about_section5 {
    grid-gap: 1rem;
    margin-left: var(--spacing-90);
    margin-right: var(--spacing-90);
  }
  .employeeimg {
    max-width: 40vw;
    height: 50vw;
  }
  .name {
    margin-top: var(--spacing-90);
    padding-top: var(--spacing-100);
    margin-left: var(--spacing-15);
  }

  #about_hero {
    margin-top: var(--spacing-70);
    margin-left: var(--spacing-100);
  }

  .about_headline {
    margin-top: var(--spacing-40);
    margin-left: var(--spacing-40);
    max-width: 70vw;
  }

  #about_section2 {
    display: flex;
    flex-direction: row;
    margin-left: var(--spacing-90);
    margin-right: var(--spacing-100);
    margin-top: var(--spacing-70);
  }

  #about_section2 p {
    margin-top: var(--spacing-40);
    padding-left: var(--spacing-100);

    margin-right: var(--spacing-15);
  }

  #about_section4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
    margin: var(--spacing-90);
  }

  #about_section4 article {
    margin-top: var(--spacing-90);
    padding-right: var(--spacing-80);
  }

  #about_section4 article p {
    margin-top: var(--spacing-20);
  }
}

@media (min-width: 1100px) {
  .name {
    margin-top: var(--spacing-xxl);
    padding-top: var(--spacing-xxl);
    margin-left: var(--spacing-20);
  }
}

/**** cases ***/
#cases_hero {
  background: var(--dark);
  display: flex;
}

#cases_hero figure {
  width: 100%;
  margin-top: var(--spacing-70);
  margin-left: -7rem;
}

.cases_headline {
  margin-top: var(--spacing-70);
  margin-right: var(--spacing-15);

  margin-bottom: var(--spacing-70);
  z-index: 1;
}

.cases_headline h1 {
  margin-top: var(--spacing-20);
  margin-bottom: var(--spacing-20);
}

.case {
  position: relative;
}

.case_info {
  position: absolute;
  margin-top: var(--spacing-xxxl);
  margin-left: var(--spacing-20);
}

.case_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: var(--spacing-30);
}

.cases_category {
  margin-left: var(--spacing-50);
  margin-top: var(--spacing-80);
}

.flex_row .background_img {
  margin-left: var(--spacing-10);
}

.flex_row .background_img:hover {
  margin-left: var(--spacing-20);
  cursor: pointer;
}

.flex_row a:hover {
  margin-right: var(--spacing-20);
  cursor: pointer;
}

#cases_section2 p {
  margin-left: var(--spacing-50);
  margin-bottom: var(--spacing-30);
}

.green_box {
  width: 25vw;
  height: 10vw;
  background: var(--green);
  border-radius: 5px;
  margin-bottom: -2rem;
  margin-left: var(--spacing-50);
}

.green_box_bottom {
  width: 25vw;
  height: 15vw;
  background: var(--green);
  border-radius: 5px;
  margin-top: -2rem;
  margin-left: var(--spacing-50);
}

@media (min-width: 800px) {
  .cases_headline {
    margin-top: var(--spacing-90);
    margin-right: var(--spacing-100);
    margin-bottom: var(--spacing-100);
    padding-right: var(--spacing-100);
  }
  #cases_hero figure {
    width: 25%;
    margin-top: var(--spacing-30);
  }
  .case_grid {
    grid-gap: 0;
    margin: 0;
  }

  .overlay img {
    height: 45vw;
    width: 100%;
  }

  .case_info {
    margin-top: var(--spacing-xxxl);
    margin-left: var(--spacing-50);
  }

  .cases_category {
    margin-left: var(--spacing-80);
    margin-top: var(--spacing-90);
  }
  #cases_section2 p {
    margin-left: var(--spacing-80);
    margin-top: var(--spacing-30);
    margin-right: 35rem;
  }

  .green_box {
    margin-left: var(--spacing-80);
    height: 6vw;
    width: 20vw;
    margin-bottom: -2rem;
  }
  .green_box_bottom {
    width: 20vw;
    height: 9vw;
    margin-top: -2rem;
    margin-left: var(--spacing-80);
  }
}
/******* SERVICES / BRAND *******/

.brand_headline h1 {
  margin-top: var(--spacing-15);
  margin-bottom: var(--spacing-15);
}

.brand_headline button {
  margin-top: var(--spacing-40);
  margin-bottom: var(--spacing-15);
}

#brand_section2 h3 {
  display: flex;
  place-content: center;
  margin-top: var(--spacing-100);
  margin-bottom: var(--spacing-70);
}

#brand_section2 .cases {
  margin-left: var(--spacing-40);
}

#brand_section3 h3 {
  display: flex;
  place-content: center;
  margin-top: var(--spacing-100);
  margin-left: var(--spacing-10);
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: var(--spacing-10);
  margin-right: var(--spacing-10);
  margin-top: var(--spacing-01);
}

#brand_section4 {
  background: var(--dark);
  display: flex;
  place-content: center;
  flex-direction: column;
  place-items: center;
  padding: var(--spacing-70);
  margin-top: var(--spacing-70);
}

.nameinput {
  width: 140%;
}

#brand_section4 .conntact_form {
  margin-left: -5rem;
}

#brand_section5 h3 {
  display: flex;
  place-content: center;
  margin-top: var(--spacing-100);
  margin-bottom: var(--spacing-50);
}

#brand_section5 {
  margin-bottom: var(--spacing-100);
}

.purpose {
  background: var(--orange);

  padding-top: var(--spacing-100);
  padding-left: var(--spacing-20);
  width: 100%;
  background-repeat: no-repeat;
  margin: var(--spacing-10);
  padding-left: var(--spacing-20);
}

.brandingsuccess {
  background: var(--green);
  padding-top: var(--spacing-100);
  padding-left: var(--spacing-20);
  width: 100%;
  background-repeat: no-repeat;
  margin: var(--spacing-10);
  padding-left: var(--spacing-20);
}

.brandingstartups {
  background: var(--orange);
  padding-top: var(--spacing-100);
  padding-left: var(--spacing-20);
  width: 100%;
  background-repeat: no-repeat;
  margin: var(--spacing-10);
  padding-left: var(--spacing-20);
}

#brand_section6 {
  background: var(--dark);
  padding-top: var(--spacing-50);
  padding-bottom: var(--spacing-50);

  margin-top: var(--spacing-40);
  display: flex;
  place-content: center;
  text-align: center;
}

#brand_section7 h3 {
  display: flex;
  place-content: center;
  margin-top: var(--spacing-90);
  margin: var(--spacing-70) var(--spacing-20);
}

#brand_section7 article {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--spacing-20);
  margin: var(--spacing-10);
}

#brand_section7 h4 {
  font-size: var(--font-size-sm);
}

.branding_process {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (min-width: 700px) {
  #brand_section6 {
    padding-left: var(--spacing-100);
    padding-right: var(--spacing-100);
  }

  #brand_section7 article {
    grid-gap: var(--spacing-50);
    margin: var(--spacing-70);
  }

  #brand_section7 h4 {
    font-size: var(--font-size-m);
  }

  .gallery {
    margin-left: var(--spacing-100);
    margin-right: var(--spacing-100);
    margin-top: var(--spacing-30);
  }
}

/**CASE PAGE**/

#case_page {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: var(--spacing-100);
}

/* EMPLOYEE SITE */
.main_employee {
  margin: var(--spacing-30);
}
.the_employee {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: var(--spacing-70);
  margin: var(--spacing-30);
}

.the_employee article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.underline {
  text-decoration: underline;
  color: var(--green);
  margin: var(--spacing-80);
  margin-top: var(--spacing-90);
}
